<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.kittyadmin.mapper.SysUserTokenMapper">
    <sql id="Base_Column_List">
        id,user_id,token,expire_time,
        create_by, create_time,last_update_by, last_update_time
    </sql>
    <resultMap id="BaseResultMap" type="com.hu.kittyadmin.entity.SysUserToken">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <select id="findByToken" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List"/> FROM sys_user_token WHERE token = #{token}
    </select>
    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM sys_user_token where user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.hu.kittyadmin.entity.SysUserToken">
        INSERT INTO  sys_user_token (id,user_id,token,expire_time,create_by,create_time,last_update_by,last_update_time)
        VALUES (#{id},#{userId},#{token},#{expireTime},#{createBy},#{createTime},#{lastUpdateBy},#{lastUpdateTime})
    </insert>
    
    <update id="updateById" parameterType="com.hu.kittyadmin.entity.SysUserToken">
        UPDATE sys_user_token set user_id = #{sysUserToken.userId},token = #{sysUserToken.token},expire_time = #{sysUserToken.expireTime},
        create_by = #{sysUserToken.createBy},create_time = #{sysUserToken.createTime},last_update_by = #{sysUserToken.lastUpdateBy},last_update_time = #{sysUserToken.lastUpdateTime}
        WHERE id = #{sysUserToken.id}
    </update>
</mapper>
